/* $Id$ */
/**
 * Sky
 * http://drupal.org/project/sky
 * http://drupal.org/user/88931
 *
 * Credits:
 * Icons: http://www.icojoy.com/articles/44/
 * Icons: http://www.icojoy.com/articles/46/
 */

/*This is ridiculously messy. My apologies to whoever finds this! I swear I planned to refactor this...*/

/**
.view-thurgood-search-event.view-display-id-calendar-1 .views-exposed-form .views-exposed-widget
{
float: left;
padding: 0;
}

.view-thurgood-search-event.view-display-id-calendar-1 .views-exposed-form .views-exposed-widgets 
{
margin-bottom: 0px;
}

.view-thurgood-search-event.view-display-id-calendar-1 .view-filters
{
position: relative;
width: 40%;
height: 35px;
}
**/

/**
.view-thurgood-search-event.view-display-id-calendar-1 .views-exposed-form .views-exposed-widget + .views-exposed-widget .views-operator,
.view-thurgood-search-event.view-display-id-calendar-1 .views-exposed-form .views-exposed-widget + .views-exposed-widget .views-widget
{
float: left;
}
**/

#block-thurgood-custom-module-actions .node .links li
{
  float: none;
  display: block;
}

#block-thurgood-custom-module-actions .node ul.links
{
  margin: 0px 10px;
}

#views-exposed-form-thurgood-search-event-calendar-1 .views-widget
{
float: right;
}

#views-exposed-form-thurgood-search-event-calendar-1 .views-operator
{
float: left;
}

#edit-tags-wrapper {
width: 200px;
}

#edit-tags-op, #edit-tags-wrapper, #hierarchical-select-52-wrapper-wrapper
{
margin-right: 5px;
}

/**
.view-thurgood-search-event.view-display-id-calendar-1 .view-filters > form
{
position: absolute;
}
**/

div.views-exposed-widget label[for=edit-tags],
div.views-exposed-widget label[for=edit-region]
{
display: block;
margin-right: 10px;
font-size: 1em;
}

.view-thurgood-search-event.view-display-id-calendar-1 .views-exposed-form label[for=edit-region] + div.views-widget
{
float: none;
margin-bottom: 5px;
}


.box > h2 {
display: none;
}

body[id|=page-place-search-results] h1.title
{
padding-right: 150px;
}

.faceted-search-page {
position: relative;
}

.faceted-search-numbering
{
position: absolute;
right: 0px;
top: -35px;
width: 150px;
text-align: right;
}

fieldset.vertical-tabs-group_location #conditional-field-toggle-location .form-item-radios div,
fieldset.vertical-tabs-group_location #conditional-field-toggle-location .form-item-radios label
{
display: inline;
}

div.content-add-more.clear-block {
margin-top: 5px;
}

div#calpopup {
width: 50%;
}

#container {
margin-top: 10px;
}

.calendar-calendar .year-view td {
width: auto;
}

.view-content .calendar-calendar li {
list-style-type: none;
}

.calendar-date-select
{
width: 250px;
}

.calendar-date-select form
{
width: auto;
float: none;
}

.calendar-date-select input.form-submit
{
position: absolute;
top: 0px;
right: 150px;
}

.view-content .calendar-calendar > ul.links
{
position: absolute;
top: -20px;
right: 0px;
}

.view-content .calendar-calendar .calendar-date-select
{
position: absolute;
top: -50px;
right: 0px;
}

/**
.view-content .calendar-calendar .date-nav
{
position: relative;
width: 50%;
margin: 0px auto;
text-align: center;
padding: 0px;
}

.view-content .calendar-calendar .date-prev,
.view-content .calendar-calendar .date-next,
.view-content .calendar-calendar .date-heading
{
float: left;
padding: 0;
margin: 0 auto;
text-align: center;
position: static;
display: block;
}

.view-content .calendar-calendar .date-heading
{
width: auto;
padding: 0px 20px;
}

.view-content .calendar-calendar .date-prev,
.view-content .calendar-calendar .date-next
{
position: absolute;
margin: 0;
padding: 0;
width: 60px;
}

.view-content .calendar-calendar .date-prev
{
left: -60px;
}
.view-content .calendar-calendar .date-next
{
right: -60px;
}
**/

.view-content .calendar-calendar .date-prev,
.view-content .calendar-calendar .date-next
{
top: 5px;
}

.attachment-after > .calendar-calendar > table.full,
.attachment-after > .calendar-calendar > .year-view > table,
.attachment-after > .calendar-calendar > .month-view > table,
.attachment-after > .calendar-calendar > .week-view > table,
.attachment-after > .calendar-calendar > .day-view > table
{
width: 100%;
margin: 10px auto;
border: 1px solid #DDD;
}

.calendar-calendar table .calendar-calendar {
margin: 5px;
}

.calendar-calendar .month-view .full .calendar-agenda-hour,
.calendar-calendar .week-view .full .calendar-agenda-hour
{
width: 10%;
}

label.views-label-tid
{
display: block;
}

.quicktabs_main.quicktabs-style-sky
{
padding-top: 5px;
}

div.view-content > div.views-row > div > label + div.field-content,
div.view-content > div.views-row > div > label + span.field-content,
div.view-content > div.views-row > div > span.field-content
{
margin-left: 10px;
}

div.view-content > div.views-row > .views-field-field-location-city-value > span.field-content
{
margin-left: 10px;
}

div.view-content > div.views-row > div.views-field-field-location-openlayers-wkt > span.field-content
{
margin-left: 0px;
}

.view-thurgood-block-multimedia .view-content > div > div > span,
.view-thurgood-block-user .view-content > div > .views-field-phpcode > span,
.view-thurgood-block-user .view-content > div > .views-field-created > span,
.view-thurgood-block-connection .view-content > div > div > .field-content
{
margin-left: 0px;
}

.view-thurgood-block-connection .view-content > div > .views-field-title
{
margin-left: 10px;
}

#block-views-thurgood-block-map-block-3 div.views-field-title
{
border-bottom: 1px solid #CCC;
padding-bottom: 5px;
margin-bottom: 5px;
}

#block-views-thurgood-block-map-block-3 .views-field-title label.views-label-title
{
margin-left: 10px;
}

#block-views-thurgood-block-map-block-3 .views-field-title span.field-content
{
margin-left: 20px;
display: block;
}

#block-views-thurgood-block-map-block-2 .views-field-field-location-openlayers-wkt,
#block-views-thurgood-block-map-block-3 .views-field-field-location-openlayers-wkt-1
{
margin-right: -4px;
margin-left: -4px;
margin-top: 5px;
margin-bottom: -4px;
}

.block .content {
background: #fff;
padding: 4px 4px;
}

.field-content i
{
color: #ccc;
text-align: center;
font-style: italic;
padding: 5px 5px;
}

.not-found
{
color: #ccc;
text-align: center;
font-style: italic;
padding: 10px 35px;
}

table#field_hours_values .office-hours-block
{
position: relative;
}

table#field_hours_values .office-hours-block .form-item-office-hours-select:first-child
/** .form-item-office-hours-select**/
{
position: absolute;
left: 100px;
}

table#field_hours_values .office-hours-block > .form-item-office-hours-select + .form-item-office-hours-select
{
position: absolute;
left: 300px;
}

.page-node #main .title,
#main h1.title
{
border-bottom: solid 1px #DDD;
margin-bottom: 10px;
}

.no-sidebars #main {
width: 950px;
margin: 10px 5px;
}

.one-sidebar #main
{
width: 625px;
margin: 10px 5px;
}

.one-sidebar .sidebar
{
width: 305px;
margin: 10px 5px;
}

.two-sidebars #main
{
width: 460px;
margin: 10px 5px;
}

.two-sidebars .sidebar
{
margin: 10px 5px;
width: 230px;
}

.left #main
{
margin-right: 10px;
}

.all #sidebar-left,
.both #sidebar-left,
.left #sidebar-left
{
margin-left: 10px;
}

.right #main,
.right-mid #main
{
margin-left: 10px;
}

.all #sidebar-right,
.both #sidebar-right,
.right #sidebar-right,
.right-mid #sidebar-right
{
margin-right: 10px;
}

.sidebar .inner {
padding: 0px;
}

#main .main-inner {
padding: 0px 5px;
}

div.tab-wrapper
{
width: auto;
margin: 20px 10px 1px 10px;
border-bottom: none;
}

div.messages
{
width: auto;
margin: 0px 10px;
padding: 1em 1em 1em 1em;
}

div.messages.empty
{
padding: .3em;
}

div.messages div.inner {
min-height: 32px;
}

div#tabs-primary {
margin-left: 20px;
}

.panels-flexible-region
{
  width: 100% !important;
}

#block-thurgood-custom-module-article,
#block-thurgood-custom-module-event,
#block-thurgood-custom-module-place,
#block-thurgood-custom-module-tutorial,
#block-thurgood-custom-module-filter,
#block-thurgood-custom-module-workflow,
#block-thurgood-custom-module-place-search,
#block-thurgood-custom-module-bookmarks,
#block-thurgood-custom-module-settings,
#block-thurgood-custom-module-notifications
{
  float: left;
  width: 24%;
  text-align: center;
  vertical-align: top;
}

p.dashboard-block {padding: 5px;}

#block-thurgood-custom-module-article .content,
#block-thurgood-custom-module-event .content,
#block-thurgood-custom-module-place .content,
#block-thurgood-custom-module-tutorial .content,
#block-thurgood-custom-module-filter .content,
#block-thurgood-custom-module-workflow .content,
#block-thurgood-custom-module-place-search .content,
#block-thurgood-custom-module-bookmarks .content,
#block-thurgood-custom-module-settings .content,
#block-thurgood-custom-module-notifications .content
{
  background: white url(http://ctreentry.info/profiles/thurgood/themes/sky_thurgood/images/marble.jpg) top left;
  height: 250px;
  margin-left: 7px;
  margin-right: 7px;
}

.panel-region-separator
{
display:none;
}

.vertical-tabs-group_location div#openlayers-container-openlayers-cck-widget-map-field_location
{
float: left;
margin-top: 15px;
}

#edit-field-location-name-0-value-wrapper,
#edit-field-location-address-0-value-wrapper,
#edit-field-location-additional-0-value-wrapper,
#edit-field-location-city-0-value-wrapper,
#edit-field-location-state-0-value-wrapper,
#edit-field-location-zip-0-value-wrapper
{
float: right;
margin-top: 5px;
margin-bottom: 5px;
width: 300px;
}

#edit-field-location-name-0-value-wrapper
{
margin-top: 0px;
}

.form-item {
margin: 10px 0;
}

.noderelationships-nodereference-buttons-wrapper {
margin-top: 5px;
display: block;
}

#field-location-toggle
{
display: none;
}

#edit-field-location-openlayers-geocoder-query
{
margin-bottom: 25px;
}

fieldset.collapsible {padding: 10px;}
fieldset.collapsible a {font-size: 12px; font-weight: normal; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;}

.node-form .content-add-more .form-submit {margin-bottom: 10px;}

div.vertical-tabs {border: none;}

div.vertical-tabs-panes {
background: #fff;
width: 98%;
float: right;
border: 1px solid #DDD;
}

div.vertical-tabs .vertical-tabs-panes .content-multiple-table {width: 100%; margin-top: 15px;}

fieldset
{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}


fieldset.vertical-tabs-pane {
border: none;
background: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}


fieldset.faceted-search-keyword, fieldset.faceted-search-guided, fieldset.fieldgroup {
width: 93%;
margin-right:
auto; margin-left: auto;}

.node .meta, fieldset.faceted-search-keyword, fieldset.faceted-search-guided, fieldset.fieldgroup
{
background:#ffffff url('../images/marble.jpg') center center;
}

.meta, fieldset.faceted-search-keyword, fieldset.faceted-search-guided, fieldset.fieldgroup
{
border-color: #DDD;
border-style: solid;
border-width: 1px;
}

#edit-teaser-js {height: 100px;}
#edit-body {height:200px;}

div.view-thurgood-search-map div.attachment-before {margin-bottom: 10px;}

.olPopup #popup {width: 300px; height: 170px;}

.olFramedCloudPopupContent {width: 250px; height:120px;}

ul.quicktabs_tabs.quicktabs-style-sky li a {padding: 0px 6px;}

.activeSlide a {font-weight: bold}

.views_slideshow_singleframe_pager {position:absolute; left:10%; right:10%; bottom: 0px;}

.views_slideshow_main {min-height:160px;}

.hierarchical-select-lineages {list-style-type: none}

.tab-wrapper {width: 960px; clear:both; margin:0px auto;}

body {background:#ffffff url('../images/Hartford.jpg') no-repeat fixed center top;}

.node {padding-right: 0px}

#comment-wrapper, .node .content {padding: 5px;}

.field .field-label {	margin-bottom: 10px;
		margin-top: 5px;
		font-weight: normal;
		font-size: 1.5em;
		letter-spacing: -1px;
		line-height: 2em;
		font-family: Georgia, 'Bitstream Vera Serif', serif;}

.gmnoprint .gmnoprint {}

.gmap-popup .node {margin-right: 0px;}
/*Change the contents of the balloons to be centered...?*/

/*div.views-exposed-widget label
{border-bottom: 0px;
border: solid #DDD;
border-top-left-radius: 0.333em 0.333em;
border-top-right-radius: 0.333em 0.333em;
background:#ffffff url('../images/marble.jpg') top left;}*/

div.faceted-search-facet a.vt-p
{}

div.faceted-search-facet h3 {}

div.faceted-search-facet.faceted-search-current h3
{display: inline;
font-family: inherit;
font-size: 1em;
font-weight: bold;}

/*faceted-search-facet faceted-search-env-resource_search faceted-search-facet--taxonomy--3 faceted-search-facet-active faceted-search-current
faceted-search-facet faceted-search-env-resource_search faceted-search-facet--taxonomy--3 faceted-search-facet-active faceted-search-guided*/

div.table-wrapper table.faceted-search
{
border: 0px;
}

table.faceted-search tbody tr td:hover, table.faceted-search tbody tr td
{
background: none;
border: 0px;
}

.view-guided-search-map {margin-bottom: 1.5em;}

.field .field-label-inline-first {font-weight: normal; color: #777;}

fieldset.fieldgroup {padding: 1em; padding-top: 5px; padding-bottom: 5px;}

.field-items p {margin: 0px;}

fieldset legend, div.faceted-search-facet h3, div.views-exposed-widget label, div.box>h2
{	font-size: 1.5em;
	font-family: Georgia, 'Bitstream Vera Serif', serif;
	font-weight: 700;
	text-shadow: white 1px 1px 1px;
	color: #555;
}

table.faceted-search {width: auto;}

.without-photo .meta {	width: 93%;
			float: none;
			padding-top: 5px; padding-bottom: 5px; margin-right: auto; margin-left: auto; margin-bottom: 5px;}

#wrapper {	background:#ffffff url('../images/bg.jpg') repeat-y;
		border-style: none double;
		border-width: thick;
		border-color:#555555;}

#footer-inner {	background:#ffffff url('../images/marble.jpg') repeat-y;
		border-style: double;
		border-width: medium thick;
		border-color:#555555;
                margin-top: 20px;
		margin-left:-5px;
		margin-right: -5px;
		padding-left: 0px;
		padding-right: 0px;
		width: 960px;}


.node-teaser {margin-bottom: 1.5em; padding-bottom: .75em;}

/*.meta p {display:inline;}
.node .terms {display:inline; float:right; max-width: 33%; margin-top:0; font-size: 1em;}
.node .terms p {font-size: 11px;}
.node .terms ul {font-size: 1em;}*/

.block h3.title {background:#ffffff url('../images/marble.jpg') top left;}

.node .links li {background:#ffffff url('../images/marble.jpg') top left;}

.comment ul.links {background:#ffffff url('../images/marble.jpg') top left;}
.comment ul.links li {background: none;}

.pager-inner {background:#ffffff url('../images/marble.jpg') top left;}

#header.name-slogan #site-slogan{margin:0px;}

#navigation {background:#ffffff url('../images/marble.jpg') center center;
		border-style: double none; border-width: medium; border-color:#555555;}

#navigation a, #navigation a:visited {background:none;}
#navigation .wrap-{float: right;}

div#header {background:#ffffff url('../images/marble.jpg') bottom; height: auto;}
#header #site-name a {font-family: Georgia, serif; color:#555555; font-weight:bold; text-shadow:3px 3px 3px #FFFFFF; font-size: .8em;}

h2
{
font-size: 1.2em;
font-weight: bold;
letter-spacing: 0;
margin-bottom: 5px;
}

.block .content h3 {font-size: 1em; font-style: italic; letter-spacing: 0;}

.block h3.title {font-size: 1.5em;}
.form-submit{font-family: Georgia, serif;}
.form-item label {font-size: 1em; font-weight: normal;}
/* @end */
